<section id="git-show">
  <div class="container" style="margin-top: 40px; padding-top: 10px">
    <div class="pageContent">
      <div class="row">
        <div class="span16">
          <h1><%= params[:git_repo] %></h1>
          <table class="condensed-table bordered-table zebra-striped">
            <thead>
              <tr>
                <th style="width: 150px;">項目</th>
                <th>内容</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>
                  ディレクトリ
                </td>
                <td>
                  <%= GIT_DIR + "/" + params[:git_repo] + ".git" %>
                </td>
              </tr>
              <tr>
                <td>
                  リポジトリ
                </td>
                <td>
                  ssh://yourname@<%= HOSTNAME + GIT_DIR + "/" + params[:git_repo] + ".git" %>
                </td>
              </tr>
              <% s = File::stat(GIT_DIR + "/" + params[:git_repo] + ".git/objects") %>
              <tr>
                <td>
                  最終更新日
                </td>
                <td>
                  <%= s.mtime %>
                </td>
              </tr>
            </tbody>
          </table>
          <div class="actions">
            <%= link_to 'このリポジトリを削除する',
            params[:git_repo] + '/delete',
            :controller => 'repo',
            :action => 'delete',
            :confirm => '本当に削除しますか',
            :method => :delete,
            :class => 'btn small danger'
            %>
            <%= link_to '戻る', repos_path, :class => 'btn small' %>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
